<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727693346313-4denr1bgrda3pd15u9k2rllaeob5k6do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727693346313-4denr1bgrda3pd15u9k2rllaeob5k6do</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_4sKVthCOlDMooYE-Yr0PoBS89KqIEg</string>
	<key>GCM_SENDER_ID</key>
	<string>727693346313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imbd.movies</string>
	<key>PROJECT_ID</key>
	<string>imbd-bb5d9</string>
	<key>STORAGE_BUCKET</key>
	<string>imbd-bb5d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727693346313:ios:362f0a57147c2912739ad8</string>
</dict>
</plist>